In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import string
#from nltk.stem import SnowballStemmer
#from nltk.corpus import stopwords

In [2]:
data = pd.read_csv("spam.csv",encoding='latin-1')

In [3]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
for lines in data :
    print(data[lines])

0        ham
1        ham
2       spam
3        ham
4        ham
5       spam
6        ham
7        ham
8       spam
9       spam
10       ham
11      spam
12      spam
13       ham
14       ham
15      spam
16       ham
17       ham
18       ham
19      spam
20       ham
21       ham
22       ham
23       ham
24       ham
25       ham
26       ham
27       ham
28       ham
29       ham
        ...
5542     ham
5543     ham
5544     ham
5545     ham
5546     ham
5547    spam
5548     ham
5549     ham
5550     ham
5551     ham
5552     ham
5553     ham
5554     ham
5555     ham
5556     ham
5557     ham
5558     ham
5559     ham
5560     ham
5561     ham
5562     ham
5563     ham
5564     ham
5565     ham
5566    spam
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: v1, Length: 5572, dtype: object
0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
5       FreeMsg Hey there darling it's been 3 week's n...
6       Even my brother is not like to speak with me. ...
7       As per your request 'Melle Melle (Oru Minnamin...
8       WINNER!! As a valued network customer you have...
9       Had your mobile 11 months or more? U R entitle...
10      I'm gonna be home soon and i don't want to tal...
11      SIX chances to win CASH! From 100 to 20,000 po...
12      URGENT! You have won a 1 week FREE membership ...
13      I've been searching for the right words to tha...
14                    I HAVE A DATE ON SUNDAY WITH WILL!!
15      XXXMobileMovieClub: To use your credit, click ...
16                             Oh k...i'm watching here:)
17      Eh u remember how 2 spell his name... Yes i di...
18      Fine if thatåÕs the way u feel. ThatåÕs the wa...
19      England v Macedonia - dont miss the goals/team...
20              Is that seriously how you spell his name?
21      IÛ÷m going to try for 2 months ha ha only joking
22      So Ì_ pay first lar... Then when is da stock c...
23      Aft i finish my lunch then i go str down lor. ...
24      Ffffffffff. Alright no way I can meet up with ...
25      Just forced myself to eat a slice. I'm really ...
26                         Lol your always so convincing.
27      Did you catch the bus ? Are you frying an egg ...
28      I'm back &amp; we're packing the car now, I'll...
29      Ahhh. Work. I vaguely remember that! What does...
                              ...
5542             Armand says get your ass over to epsilon
5543               U still havent got urself a jacket ah?
5544    I'm taking derek &amp; taylor to walmart, if I...
5545        Hi its in durban are you still on this number
5546           Ic. There are a lotta childporn cars then.
5547    Had your contract mobile 11 Mnths? Latest Moto...
5548                   No, I was trying it all weekend ;V
5549    You know, wot people wear. T shirts, jumpers, ...
5550          Cool, what time you think you can get here?
5551    Wen did you get so spiritual and deep. That's ...
5552    Have a safe trip to Nigeria. Wish you happines...
5553                          Hahaha..use your brain dear
5554    Well keep in mind I've only got enough gas for...
5555    Yeh. Indians was nice. Tho it did kane me off ...
5556    Yes i have. So that's why u texted. Pshew...mi...
5557    No. I meant the calculation is the same. That ...
5558                               Sorry, I'll call later
5559    if you aren't here in the next  &lt;#&gt;  hou...
5560                    Anything lor. Juz both of us lor.
5561    Get me out of this dump heap. My mom decided t...
5562    Ok lor... Sony ericsson salesman... I ask shuh...
5563                                  Ard 6 like dat lor.
5564    Why don't you wait 'til at least wednesday to ...
5565                                         Huh y lei...
5566    REMINDER FROM O2: To get 2.50 pounds free call...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
       ...
5542    NaN
5543    NaN
5544    NaN
5545    NaN
5546    NaN
5547    NaN
5548    NaN
5549    NaN
5550    NaN
5551    NaN
5552    NaN
5553    NaN
5554    NaN
5555    NaN
5556    NaN
5557    NaN
5558    NaN
5559    NaN
5560    NaN
5561    NaN
5562    NaN
5563    NaN
5564    NaN
5565    NaN
5566    NaN
5567    NaN
5568    NaN
5569    NaN
5570    NaN
5571    NaN
Name: Unnamed: 2, Length: 5572, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
       ...
5542    NaN
5543    NaN
5544    NaN
5545    NaN
5546    NaN
5547    NaN
5548    NaN
5549    NaN
5550    NaN
5551    NaN
5552    NaN
5553    NaN
5554    NaN
5555    NaN
5556    NaN
5557    NaN
5558    NaN
5559    NaN
5560    NaN
5561    NaN
5562    NaN
5563    NaN
5564    NaN
5565    NaN
5566    NaN
5567    NaN
5568    NaN
5569    NaN
5570    NaN
5571    NaN
Name: Unnamed: 3, Length: 5572, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
       ...
5542    NaN
5543    NaN
5544    NaN
5545    NaN
5546    NaN
5547    NaN
5548    NaN
5549    NaN
5550    NaN
5551    NaN
5552    NaN
5553    NaN
5554    NaN
5555    NaN
5556    NaN
5557    NaN
5558    NaN
5559    NaN
5560    NaN
5561    NaN
5562    NaN
5563    NaN
5564    NaN
5565    NaN
5566    NaN
5567    NaN
5568    NaN
5569    NaN
5570    NaN
5571    NaN
Name: Unnamed: 4, Length: 5572, dtype: object

In [5]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [6]:
data.v2

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
5       FreeMsg Hey there darling it's been 3 week's n...
6       Even my brother is not like to speak with me. ...
7       As per your request 'Melle Melle (Oru Minnamin...
8       WINNER!! As a valued network customer you have...
9       Had your mobile 11 months or more? U R entitle...
10      I'm gonna be home soon and i don't want to tal...
11      SIX chances to win CASH! From 100 to 20,000 po...
12      URGENT! You have won a 1 week FREE membership ...
13      I've been searching for the right words to tha...
14                    I HAVE A DATE ON SUNDAY WITH WILL!!
15      XXXMobileMovieClub: To use your credit, click ...
16                             Oh k...i'm watching here:)
17      Eh u remember how 2 spell his name... Yes i di...
18      Fine if thatåÕs the way u feel. ThatåÕs the wa...
19      England v Macedonia - dont miss the goals/team...
20              Is that seriously how you spell his name?
21      IÛ÷m going to try for 2 months ha ha only joking
22      So Ì_ pay first lar... Then when is da stock c...
23      Aft i finish my lunch then i go str down lor. ...
24      Ffffffffff. Alright no way I can meet up with ...
25      Just forced myself to eat a slice. I'm really ...
26                         Lol your always so convincing.
27      Did you catch the bus ? Are you frying an egg ...
28      I'm back &amp; we're packing the car now, I'll...
29      Ahhh. Work. I vaguely remember that! What does...
                              ...
5542             Armand says get your ass over to epsilon
5543               U still havent got urself a jacket ah?
5544    I'm taking derek &amp; taylor to walmart, if I...
5545        Hi its in durban are you still on this number
5546           Ic. There are a lotta childporn cars then.
5547    Had your contract mobile 11 Mnths? Latest Moto...
5548                   No, I was trying it all weekend ;V
5549    You know, wot people wear. T shirts, jumpers, ...
5550          Cool, what time you think you can get here?
5551    Wen did you get so spiritual and deep. That's ...
5552    Have a safe trip to Nigeria. Wish you happines...
5553                          Hahaha..use your brain dear
5554    Well keep in mind I've only got enough gas for...
5555    Yeh. Indians was nice. Tho it did kane me off ...
5556    Yes i have. So that's why u texted. Pshew...mi...
5557    No. I meant the calculation is the same. That ...
5558                               Sorry, I'll call later
5559    if you aren't here in the next  &lt;#&gt;  hou...
5560                    Anything lor. Juz both of us lor.
5561    Get me out of this dump heap. My mom decided t...
5562    Ok lor... Sony ericsson salesman... I ask shuh...
5563                                  Ard 6 like dat lor.
5564    Why don't you wait 'til at least wednesday to ...
5565                                         Huh y lei...
5566    REMINDER FROM O2: To get 2.50 pounds free call...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [7]:
data.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""",GE,"GNT:-)"""
freq,4825,30,3,2,2

In [8]:
pd.isnull(data).head()

      v1     v2  Unnamed: 2  Unnamed: 3  Unnamed: 4
0  False  False        True        True        True
1  False  False        True        True        True
2  False  False        True        True        True
3  False  False        True        True        True
4  False  False        True        True        True

In [9]:
data1=data[["v1","v2"]]

In [10]:
data1.v1 = data1.v1.map({"ham":0,"spam":1})

c:\users\lenovo\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [11]:
data1.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [12]:
data1=data1.rename(columns={"v1":"Result","v2":"email"})

In [13]:
data1.head()

   Result                                              email
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [14]:
X=data.v2
y=data.v1

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [16]:
X_train.shape

(4179,)

In [17]:
y_train.shape

(4179,)

In [18]:
y_test.shape

(1393,)

In [19]:
#Finding the leagth of the words and storing in the seperatecolumn

In [20]:
data1["Length"]=data1["email"].apply(len)

In [21]:
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords
#importing the  class and creting the object
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [22]:
import re 
corpus=[]
for i in range(len(data)):
    mail=re.sub("[^a-zA-Z]"," ",data1["email"][i])
    mail=mail.split()
    mail = [ps.stem(word) for word in mail if not word in stopwords.words("english")]
    mail=" ".join(mail)
    corpus.append(mail)
#creating the bag of words model through the help of tokenizattion
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features= 6250)
X=cv.fit_transform(corpus).toarray()
y=data1.iloc[:,0].values

In [23]:
X.shape

(5572, 6250)

In [24]:
y.shape

(5572,)

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test =train_test_split(X,y,train_size=0.75)

c:\users\lenovo\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\model_selection\_split.py:2069: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [26]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

c:\users\lenovo\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
c:\users\lenovo\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
c:\users\lenovo\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
c:\users\lenovo\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [27]:
from sklearn.naive_bayes import GaussianNB
classifier =GaussianNB()
classifier.fit(X_train,y_train)
#predicting the result
y_pred =classifier.predict(X_test)

In [28]:
from sklearn.model_selection import cross_val_score

In [29]:
#score = cross_val_score(classifier,X,y,cv=10,scoring = "accuracy")
#from sklearn.model_selection import KFold

In [30]:
X.shape

(5572, 6250)

In [31]:
X11=X[4000:5572]
y11=data.iloc[4000:5572,0].values

In [32]:
X11.shape

(1572, 6250)

In [33]:
y11.shape

(1572,)

In [34]:
clf1=classifier.fit(X11,y11)

In [35]:
#code for cross validation but couldn't be performed due to memory error
#kf=KFold(n_splits=25,shuffle=False,random_state=0)
#kf.get_n_splits(X)

In [36]:
#for train_index, test_index in kf.split(X):
    #print(“TRAIN:”, train_index, “TEST:”, test_index)
 #   X1_train, X1_test = X[train_index], X[test_index]
  #  y1_train, y1_test = y[train_index], y[test_index]

In [37]:
y_pred1= classifier.predict(X11)

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
accuracy_score(y11,y_pred1)

0.9637404580152672

Function to take the input :-

In [55]:
def input_the_mail(text):
    mail1=re.sub("[^a-zA-Z]", " ",text)
    mail1=mail1.split()
    mail1=[ps.stem(word) for word in mail1 if not word in stopwords.words("english")]
    mail1= " ".join(mail1)
    cv1=CountVectorizer()
    input1=cv1.fit_transform(mail1).toarray()
    return input1

In [56]:
def predict(email):
    prediction=classifier.predict(input1)
    return prediction

In [59]:
"""def test(e_body):
    m_body=input_the_mail(e_body)
    pred=predict(m_body)
    if(pred == 0):
        message="Your Mail is valid one"
        return (message)
    else:
        return("Your Mail is spam")"""

'def test(e_body):\n    m_body=input_the_mail(e_body)\n    pred=predict(m_body)\n    if(pred == 0):\n        message="Your Mail is valid one"\n        return (message)\n    else:\n        return("Your Mail is spam")'

In [ ]:
text_input = input("Enter the content of the email")
i1=input_the_mail(text_input)
print(predict(i1))